
.Component {
  border: 1px solid #f77;
}

.App {
  display: flex;
  flex-direction: column;
  padding: .5rem;
  gap: .5rem;
}

.Input {
  padding: .5rem;
}

.Card {
  padding: 1rem;
  border: 1px solid #7777;
  border-radius: .25rem;
  background-color: whitesmoke;
  color: #333;
}
